*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a{
  text-decoration: none;
}

.centerContent{
  text-align: center;
}

.loginDiv{
  max-width: 500px;
  margin-top: 100px;
  justify-content: center;
}

.marginLR{
  margin-left: 10px;
  margin-right: 10px;
}

